div.seq {
	margin-top: 25px;
}

table.result {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid Black;
	border-collapse: collapse;
}

table.result td {
	border: 1px solid Black;
	padding: 0.5em;
	
}

table.result td + td{
	border: 1px solid Black;
	padding: 0.5em;
}

td.alig0 {
	background: #FFFFFF;
}

td.alig1 {
	background: #FFCCCC;
}

td.alig2 {
	background: #FF9999;
}

td.alig3 {
	background: #FF6666;
}

td.alig4 {
	background: #FF3333;
}

td.alig5 {
	background: #FF0000;
}


